.timeline{
  margin-top: 100px;
  width: 100%;
}
.timeline-title-cont{
  text-align: center;
  font-size: 45px;
  font-family: var(--cursiva);
  color: var(--color_detalles);

}



.custom-date-color{
  color:var(--color-detalles) !important;
  font-size: 30px !important;
}
@media (max-width: 768px) {
  .custom-date-color{
    color:#fff;
  }
  
  
}

.timeline-title{
  text-transform: uppercase;
}

.custom-icon{
    max-width: 100%;
    height: auto;
  }

